
.Container {
    align-items: center;
}

.Background {
    background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    height: 100%;
}

.blue-text {
    color: hsl(238, 29%, 16%);
}

.red-text {
    color: hsl(14, 88%, 65%);
}

.FaqCard {
    margin: 0;
    height:509px;
    display: flex !important;
    flex-direction: row !important;
    flex: auto;
}

.ImageCard {
    width: 50%;
    display: block;
    background-image: url("./Images/illustration-woman-online-desktop.svg"), url("./Images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;

}

@media (max-width: 450px) {
    .ImageCard {
        background-image: url("./Images/illustration-woman-online-mobile.svg"), url("./Images/bg-pattern-mobile.svg");
    }
}

.TextCard {
    width: 50%;
    display: block;
    padding: 75px 95px 75px 37px;
}