@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300;1,400&display=swap');

.Background {
    background-color: hsl(0, 100%, 74%);
    background-image: url("images/bg-intro-desktop.png");

}

.Row {
    height: 100vh;
}

.Header {
    font-family: 'Poppins', Arial;
    font-weight: 700;
    font-size: 3rem;
    color: white;

}

.Description {
    font-family: 'Poppins', Arial;
    color: white;
    font-size: 16px;
}

.SpecialOffer {
    font-weight: 500;
}

.DiscountCard {
    border-radius: 10px;
    background-color: hsl(248, 32%, 49%) !important;
    color: white;
    width: 100%;
}

.RegisterCard {
    border-radius: 10px !important;
    width: 100%;
    font-family: 'Poppins', Arial;
}

.FormInput {
    font-size: 16px !important;
    font-family: 'Poppins', Arial;
    height: 55px !important;
    font-weight: 500 !important;
}

.FormInput:focus {
    border-color: hsl(249, 10%, 26%) !important;
    box-shadow: none !important;
}

.SubmitButton {
    border: none !important;
    border-radius: 5px;
    height: 50px;
    background-color: hsl(154, 59%, 51%) !important;
}

.SubmitButton:hover {
    background-color: hsl(156, 100%, 29%) !important;
}

.Disclaimer {
    color: hsl(246, 25%, 77%);
}

.TermsConditions {
    text-decoration: none !important;
    color: hsl(0, 100%, 74%);
}

.Invalid {
    border: 1px solid red !important;
}

.InvalidText {
    color: red;
    font-size: 10px;
    margin-left: auto;
}

@media (max-width: 450px) {
    .Header {
        padding-top: 100px !important;
        text-align: center !important;
    }
    .Description {
        text-align: center;
    }
    .Background {
        height: 150vh !important;
    }
}